@import './reset.css';
@import './colors.css';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --control-height: 2.5rem;

  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-xxl: 2rem;
  --font-size-xxxl: 3rem;

  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-base: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --border-radius-sm: 0.125rem;
  --border-radius-base: 0.25rem;
  --border-radius-lg: 0.5rem;

  --transition-duration: 250ms;
  --transition-function: ease;
}

html {
  height: 100dvh;
  height: 100vh;
}

body {
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: grid;
  grid-template:
    'header' min-content
    'content' 1fr;
}
